Repository xlcnd/isbnsrv, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, core

fix workflow name
  .github/workflows/basictests.yml
Labels: none

fix workflow dependencies
  .github/workflows/basictests.yml
Labels: none

delete py36 from workflow
  .github/workflows/basictests.yml
Labels: none

delete commented lines
  Dockerfile
Labels: repo

use only one cache for metadata
  isbnsrv/resources.py
Labels: core

[WIP] split files by API (add REST)
  isbnsrv/__init__.py
  isbnsrv/rest.py
  isbnsrv/server.py
Labels: core

[WIP] split files by API (add REST)
  isbnsrv/server.py
Labels: core

[WIP] split files by API (add GRAPHQL)
  isbnsrv/graphql.py
Labels: core

faster bags
  CHANGES.txt
  isbnsrv/resources.py
  isbnsrv/rest.py
  tests/test_api.py
Labels: repo, test, core

fix version
  README.md
Labels: repo

fix version
  isbnsrv/__init__.py
Labels: core

fix version
  tests/test_version.py
Labels: test

fix version
  tests/test_api.py
Labels: test

[WIP] split files by API (add GRAPHQL)
  isbnsrv/graphql.py
  isbnsrv/resources.py
  isbnsrv/schema.graphql
Labels: core

[WIP] split files by API (add GRAPHQL)
  isbnsrv/graphql.py
Labels: core

[WIP] split files by API (add GRAPHQL)
  isbnsrv/graphql.py
  isbnsrv/schema.graphql
Labels: core

[WIP] split files by API (add GRAPHQL)
  isbnsrv/graphql.py
Labels: core

[WIP] split files by API (add GRAPHQL)
  isbnsrv/graphql.py
Labels: core

[WIP] add GRAPHQL API
  isbnsrv/graphql.py
  isbnsrv/resources.py
  isbnsrv/schema.graphql
Labels: core

[WIP] add GRAPHQL API (asyncio)
  isbnsrv/graphql.py
Labels: core

[WIP] add GRAPHQL API (asyncio)
  .gitignore
  isbnsrv/graphql.py
Labels: repo, core

[WIP] add GRAPHQL API (asyncio)
  isbnsrv/graphql.py
Labels: core

[WIP] add GRAPHQL API (asyncio)
  isbnsrv/graphql.py
  isbnsrv/schema.graphql
Labels: core

[WIP] add GRAPHQL API (asyncio)
  isbnsrv/graphql.py
Labels: core

[WIP] add GRAPHQL API (asyncio)
  isbnsrv/graphql.py
Labels: core

[WIP] add GRAPHQL API (asyncio)
  isbnsrv/graphql_aiohttp.py
  isbnsrv/graphql_api.py
  isbnsrv/typedefs.py
  isbnsrv/utils.py
Labels: core

[WIP] add GRAPHQL API (asyncio)
  isbnsrv/graphql_aiohttp.py
  isbnsrv/graphql_api.py
Labels: core

[WIP] add GRAPHQL API (asyncio)
  isbnsrv/graphql/__init__.py
  isbnsrv/graphql/aiohttp.py
  isbnsrv/graphql/api.py
  isbnsrv/graphql/schema.graphql
  isbnsrv/graphql/typedefs.py
  isbnsrv/graphql/utils.py
  isbnsrv/rest/__init__.py
  isbnsrv/rest/rest.py
  isbnsrv/server.py
Labels: core

[WIP] add GRAPHQL API (asyncio)
  isbnsrv/graphql/aiohttp.py
Labels: none

[WIP] add GRAPHQL API (asyncio)
  isbnsrv/graphql/__init__.py
  isbnsrv/graphql/aiohttp.py
  isbnsrv/graphql/api.py
  isbnsrv/graphql/schema.graphql
  isbnsrv/graphql/typedefs.py
  isbnsrv/graphql/utils.py
Labels: none

[WIP] add GRAPHQL API (asyncio)
  isbnsrv/gql/__init__.py
  isbnsrv/gql/aiohttp.py
  isbnsrv/gql/api.py
  isbnsrv/gql/schema.graphql
  isbnsrv/gql/typedefs.py
  isbnsrv/gql/utils.py
Labels: none

[WIP] add GRAPHQL API (asyncio)
  isbnsrv/gql/aiohttp.py
  isbnsrv/server.py
Labels: core

[WIP] add GRAPHQL API (asyncio)
  isbnsrv/gql/schema.graphql
  isbnsrv/gql/typedefs.py
  isbnsrv/gql/utils.py
  isbnsrv/server.py
Labels: core

[WIP] add GRAPHQL API (asyncio)
  isbnsrv/gql/aiohttp.py
  isbnsrv/server.py
Labels: core

[WIP] add GRAPHQL API (asyncio)
  isbnsrv/cache.py
  isbnsrv/gql/aiohttp.py
  isbnsrv/server.py
Labels: core

[WIP] add GRAPHQL API (asyncio)
  requirements.txt
Labels: repo

[WIP] add GRAPHQL API (add test)
  tests/test_api.py
Labels: test

[WIP] add GRAPHQL API (add TODO)
  isbnsrv/gql/aiohttp.py
Labels: none

[WIP] add GRAPHQL API (add TODO)
  isbnsrv/gql/aiohttp.py
Labels: none

update (dev)
  pyproject.toml
Labels: repo

.github/labeler.yml:

repo:
  - ./*

test:
  - tests/*

core:
  - isbnsrv/*
