Repository xlcnd/isbnsrv, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, core

init v1.1.4
  CHANGES.txt
  isbnsrv/__init__.py
  release.md
Labels: repo, core

[qa] fix version
  README.md
Labels: repo

[qa] fix version
  tests/test_version.py
Labels: test

[qabot] fill in templates
  CHANGES.txt
  release.md
Labels: repo

release 1.1.4
  tests/test_api.py
Labels: test

init v1.1.5
  CHANGES.txt
  README.md
  isbnsrv/__init__.py
  release.md
  tests/test_api.py
  tests/test_version.py
Labels: repo, test, core

[qa] text
  README.md
Labels: repo

[qa] cfg
  .flake8
  .yamllint
  pyproject.toml
Labels: repo

[qa] cfg
  .editorconfig
Labels: repo

[qa] cfg
  .hadolint.yaml
Labels: repo

[qa] cfg
  .dockerignore
Labels: repo

[qa] cfg
  Dockerfile-test
  pytest.ini
  requirements-dev.txt
Labels: repo

[qa] fmt
  README.md
Labels: repo

add 'How to install'
  release.md
Labels: repo

add 'How to install and run'
  README.md
  release.md
Labels: repo

[qa] fmt
  release.md
Labels: repo

[qabot] fill in templates
  CHANGES.txt
  release.md
Labels: repo

release 1.1.5
  release.md
Labels: repo

init v1.1.6
  CHANGES.txt
  isbnsrv/__init__.py
  isbnsrv/gql/api.py
  isbnsrv/server.py
  release.md
  tests/test_api.py
  tests/test_version.py
Labels: repo, test, core

[qa] fix version
  README.md
Labels: repo

add anchor
  README.md
Labels: repo

add anchor
  release.md
Labels: repo

update to isbnlib-3.10.7
  requirements.txt
Labels: repo

update to isbnlib-3.10.7
  CHANGES.txt
  COPYRIGHT.txt
  release.md
Labels: repo

release 1.1.6
  CHANGES.txt
  README.md
Labels: repo

init v1.1.7
  CHANGES.txt
  isbnsrv/__init__.py
  release.md
  tests/test_api.py
  tests/test_version.py
Labels: repo, test, core

.github/labeler.yml:

repo:
  - ./*

test:
  - tests/*

core:
  - isbnsrv/*
