Repository xlcnd/isbnsrv, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, core

add 'graphene'
  pyproject.toml
Labels: repo

add 'test' docker
  Dockerfile-test
  requirements-dev.txt
Labels: repo

add notice for graphql api
  README.md
Labels: repo

put dependencies togheter
  pyproject.toml
Labels: repo

add url 'issues'
  pyproject.toml
Labels: repo

fix email address
  pyproject.toml
Labels: repo

delete scripts
  pyproject.toml
Labels: repo

fix exception message
  isbnsrv/gql/aiohttp.py
Labels: none

put warnings at the end
  README.md
Labels: repo

update isbnlib version
  isbnsrv/gql/api.py
  isbnsrv/resources.py
  pyproject.toml
  requirements.txt
  tests/test_api.py
Labels: repo, test, core

fix test
  tests/test_api.py
Labels: test

add 'classifiers' to the REST API
  README.md
  isbnsrv/resources.py
  isbnsrv/rest/rest.py
  isbnsrv/server.py
  tests/test_api.py
Labels: repo, test, core

update isbnlib plugins
  requirements.txt
Labels: repo

qa -- clean input
  isbnsrv/gql/api.py
Labels: none

upgrade to isbnlib-3.10.1
  requirements.txt
Labels: repo

qa -- fmt
  isbnsrv/resources.py
Labels: core

qa -- dependabot
  requirements.txt
Labels: repo

qa -- dependabot
  CHANGES.txt
  pyproject.toml
  requirements.txt
Labels: repo

release 1.1.1
  CHANGES.txt
Labels: repo

init v1.1.2
  CHANGES.txt
Labels: repo

add SECURITY.md
  SECURITY.md
Labels: repo

create 'release action'
  .github/workflows/create-release.yaml
  .gitignore
  release.md
Labels: repo

add 'code analysis'
  .github/workflows/codeql-analysis.yml
Labels: none

qa -- typo
  .github/automation/greetings.yml
Labels: none

qa -- fill in template
  release.md
Labels: repo

clarify text
  README.md
Labels: repo

update versions
  pyproject.toml
Labels: repo

add more plugins
  requirements.txt
Labels: repo

disable warnings on pytest
  pytest.ini
Labels: repo

fill in templates
  CHANGES.txt
  release.md
Labels: repo

delete 'f'
  isbnsrv/server.py
Labels: core

[qabot] doc
  .gitignore
  SECURITY.md
  isbnsrv/resources.py
Labels: repo, core

[qabot] doc
  .gitignore
Labels: repo

[qabot] update reqs
  requirements-dev.txt
  requirements.txt
Labels: repo

add 'codespell'
  pyproject.toml
Labels: repo

[qabot] fill in templates
  CHANGES.txt
  release.md
Labels: repo

release 1.1.2
  CHANGES.txt
Labels: repo

init v1.1.3
  CHANGES.txt
  release.md
Labels: repo

[qa] fix version
  README.md
  isbnsrv/__init__.py
  release.md
Labels: repo, core

release 1.1.3
  CHANGES.txt
  release.md
Labels: repo

.github/labeler.yml:

repo:
  - ./*

test:
  - tests/*

core:
  - isbnsrv/*
